@page
@using Microsoft.AspNetCore.Authorization;
@using Wallee.Boc.Vote.Permissions;
@inject IAuthorizationService AuthorizationService;
@model Wallee.Boc.Vote.Web.Pages.RulesEngines.CandidateOrgUnits.IndexModel

@section scripts{
    <abp-script src="/Pages/RulesEngines/CandidateOrgUnits/Index.js"></abp-script>
}

@section styles{
    <abp-style src="/Pages/RulesEngines/CandidateOrgUnits/Index.css"></abp-style>
}
<div class="container-fluid">
    <abp-dynamic-form abp-model="ViewModel" asp-page-handler="onPost">
        <abp-card>
            <abp-card-header class="card-header ui-sortable-handle">
                <abp-card-title>
                    部门评价过滤引擎
                </abp-card-title>
                <abp-card-subtitle>
                    用于过滤不同角色进行部门评价时的候选部门名单的规则引擎
                </abp-card-subtitle>
            </abp-card-header>
            <abp-card-body>
                <abp-form-content />
            </abp-card-body>
            <abp-card-footer class="d-flex justify-content-end">
                <abp-button type="submit" icon="fas fa-user" button-type="Primary" text="提交"></abp-button>
            </abp-card-footer>
        </abp-card>
    </abp-dynamic-form>
</div>
